<link rel="stylesheet" href="/css/header.css" />
<header>
  <nav>
    <div class="nav-wrapper">
      {{#if admin}}
        <a href="/" class="brand-logo">
          CARDAWAY-MyAdmin
        </a>
      {{else}}
        <a href="/" class="brand-logo">
          CARDAWAY
        </a>
      {{/if}}
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">
          menu
        </i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if noButtons}}
          {{#if admin}}
            <li id="nav-li">
              <i class="material-icons">
                people_alt
              </i>
            </li>

            <li id="nav-li">
              <i class="material-icons">
                local_post_office
              </i>
            </li>
            <li id="nav-li">
              <i class="material-icons">
                bar_chart
              </i>
            </li>
            <li id="nav-li">
              <a href="./php/functions/cerrar_session.php">
                Cerrar Sesi贸n
              </a>
            </li>
          {{/if}}
        {{else if admin}}
          <li id="nav-li">
            <a href="/admin">
              <button class="btn">
                Administracion
              </button>
            </a>
            <li id="nav-li">
              <a href="./php/functions/cerrar_session.php">
                Cerrar Sesi贸n
              </a>
            </li>
          </li>
        {{else if user}}
          <li id="nav-li">
            <a href="./php/pages/user_page.php">
              Mi cuenta
            </a>
          </li>
          <li id="nav-li">
            <a href="./php/functions/cerrar_session.php">
              Cerrar Sesi贸n
            </a>
          </li>
        {{else}}
          <li id="nav-li">
            <a class="waves-effect waves-light btn modal-trigger" href="#login">
              Iniciar Sesion
            </a>
          </li>
          <li id="nav-li">
            <a
              class="waves-effect waves-light btn modal-trigger"
              href="/Registro"
            >
              Crea tu Cuenta
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li id="nav-mobile" class="right hide-on-med-and-down">
      {{#if noButtons}}
        {{#if admin}}
          <li id="nav-li">
            <a href="/admin">
              Usuarios
            </a>
          </li>
          <li>
            <a href="./php/functions/cerrar_session.php">
              Postales
            </a>
          </li>
          <li>
            <a href="./php/functions/cerrar_session.php">
              Estadisticas
            </a>
          </li>
        {{/if}}
      {{else if admin}}
        <li id="nav-li">
          <a href="/admin">
            Administracion
          </a>
        </li>
        <li>
          <a href="./php/functions/cerrar_session.php">
            Cerrar Sesion
          </a>
        </li>
      {{else if user}}
        <li id="nav-li">
          <a href="./php/pages/user_page.php">
            Mi cuenta
          </a>
        </li>
        <li id="nav-li">
          <a href="./php/functions/cerrar_session.php">
            Cerrar Sesi贸n
          </a>
        </li>
      {{else if noButtons}}

      {{else}}
        <li id="nav-li">
          <a class="modal-trigger" href="#login">
            Iniciar Sesion
          </a>
        </li>
        <li id="nav-li">
          <a class="modal-trigger" href="/Registro">
            Crea tu Cuenta
          </a>
        </li>
      {{/if}}
    </li>
  </ul>
</header>
